{% extends 'base.html' %}
{% block title %}{{ channel.name }}{% endblock %}
{% block content %}
<div class="channel-messages">
    <h1>{{ channel.name }}</h1>
    <div class="message-list">
        {% for message in messages %}
            <div class="message">
                <p><strong>{{ message.sender.username }}</strong> <span>{{ message.created_at }}</span></p>
                <p>{{ message.content }}</p>
                {% if message.attachment %}
                    <a href="{{ message.attachment.url }}">Open File</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% if is_member %}
    <form method="post" action="{% url 'messanger:send_message' channel.id %}" enctype="multipart/form-data" class="channel_form">
        {% csrf_token %}
        <textarea name="content" placeholder="Type your message..."></textarea>
        <input type="file" name="attachment">
        <button type="submit">Send</button>
    </form>
    {% else %}
    <p>You must be a member of this channel to send messages.</p>
    {% endif %}
</div>
{% endblock %}